
$background-color: #de0023;
$white: #fff;
$red: #f00;
@mixin white-link {

      a:link {color: $white;};
       a:visited {color: $white;}
        a:hover {color: $white;}
        a:active {color: $white;}
}
@mixin noline-link {

  a:link {text-decoration: none;color: $white;};
  a:visited {text-decoration: none;color: $white;}
  a:hover {text-decoration: none;color: $white;}
  a:active {text-decoration: none;color: $white;}
}


.footer{
    border: solid 1px red;
    height: 100%-87%;
    width: 100%;
    background-color: $background-color;
    //margin-top: 0.3%;
    //margin-bottom: 0.3%;
    zoom: 1;
}
.footer-list{
  margin: 0;

  text-align: center;
  padding-top: 12px;
  //padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.footer-link{
  color: #FFFFFF;

  display: inline;
  font-size: 15px;
  padding-bottom: 4px;
  padding-top: 12px;

  text-align: center;
  width: 70%;

  list-style: none;
  margin: auto;
  @include white-link;

}


.footer-info{
    text-align: center;
    padding-top: 3px;
  //margin-top: 3px;
    //margin-left: 8px;
    padding-bottom: 2px;
    //display: inline-block;
    font-size: 5px;
    color: white;
    width: auto;
    //float: left;
display: inline;
    line-height:60%;

    @include white-link


}


.footer-sns{

    //margin-left: 10px;

  text-align: center;
    //display: inline;
    //font-size: 5px;
    color: white;

  margin: 0;
  padding: 0;


  @include noline-link;

     a .text {

        list-style: none;
        display: inline-block;

        //vertical-align: top;
        //margin-right: 10px;
        margin-top: 10px;
        text-align: center;
        font-size: 12px;
        //line-height: 100%;
        color: #fff;
    }



    .weixin{

      .content {
        list-style: none;
        display: inline;
        margin: 0;
        padding: 0;

        .img {
          display: inline-block;
          background-image: url('../images/weixin_icn.png');
          background-repeat: no-repeat;
          background-size: 25px 25px;
          height: 25px;
          width: 25px;

        }

        .wechat-qrcode {

          display: inline-block;
          background: url('../images/wechat-qrcode.png') no-repeat;

          background-size: 25px 25px;
          height: 25px;
          width: 25px;
        }
      }

    }
    .weibo{
      .content {
        list-style: none;
        display: inline;
        margin: 0;
        padding: 0;
        .img {
          display: inline-block;
          background: url('../images/weibo_icn.png') no-repeat;
          background-size: 34px 34px;

          height: 34px;
          width: 34px;
        }
      }
    }
    .tx-weibo {
      .content {
        list-style: none;
        display: inline;
        margin: 0;
        padding: 0;
        .img {
          display: inline-block;
          background: url('../images/tx_weibo_icn.png') no-repeat;

          background-size: 34px 34px;
          height: 34px;
          width: 34px;

        }
      }
    }
}

@media only screen and (max-width: 480px){
  .footer{
    border: solid 1px red;
    height: 23%;
    width: 100%;
    background-color: $background-color;
    //margin-top: 0.3%;
    margin-bottom: 6%;
    //zoom: 1;
  }
  .footer-list{
    margin: 0;
  display: inline;
    text-align: center;
    ///padding-top: 12%;
    //padding-right: 10px;
    //padding-bottom: 10%;
    //padding-left: 10%;
  }
  .footer-link{
    color: #FFFFFF;

    display: table;
    font-size: 12%;
    padding-bottom: 0;
    padding-top: 0;

    text-align: center;
    width: 85%;

    list-style: none;
    margin: auto;
    @include white-link;

  }


  .footer-info{
    text-align: center;
    padding-top: 3px;
    //margin-top: 3px;

    padding-bottom: 2px;
    //display: inline-block;
    font-size: 5px;
    color: white;
    width: 85%;
    //float: left;
    display: inline;
    line-height:110%;

    @include white-link;

.text{
   margin-left: 4%;
   margin-right: 4%;
 }
  }


  .footer-sns{

    //margin-left: 10px;

    text-align: center;
    //display: inline;
    //font-size: 5px;
    color: white;

    margin: 0;
    padding: 0;


    @include noline-link;

    a .text {

      list-style: none;
      display: block;

      //vertical-align: top;
      //margin-right: 10px;
      margin-top: 0;
      text-align: center;
      font-size: 12px;
      //line-height: 100%;
      color: #fff;
    }



    .weixin{

      .content {
        list-style: none;
        display: block;
        margin-top: 5%;
        padding: 0;

        .img {
          display: inline-block;
          background-image: url('../images/weixin_icn.png');
          background-repeat: no-repeat;
          background-size: 25px 25px;
          height: 25px;
          width: 25px;

        }

        .wechat-qrcode {

          display: inline-block;
          background: url('../images/wechat-qrcode.png') no-repeat;

          background-size: 25px 25px;
          height: 25px;
          width: 25px;
        }
      }

    }
    .weibo{
      .content {
        list-style: none;
        display: block;
        margin-top: 5%;
        padding: 0;
        .img {
          display: inline-block;
          background: url('../images/weibo_icn.png') no-repeat;
          background-size: 34px 34px;

          height: 34px;
          width: 34px;
        }
      }
    }
    .tx-weibo {
      .content {
        list-style: none;
        display: block;
        margin-top: 5%;
        padding: 0;
        .img {
          display: inline-block;
          background: url('../images/tx_weibo_icn.png') no-repeat;
          background-size: 34px 34px;
          height: 34px;
          width: 34px;

        }
      }
    }
  }
}

