@mixin back_color{
    height: 100%;
    border: solid 1px blue;
    margin-left:0.4%;
    //margin-right:1%;
    float: left;
    display: block;
}
.line2{
        border: solid 1px red;
        height: 74.5%-52.7%;
        /*min-height: 30%;*/
        width: 100%;
        margin-top: 0.3%;
        margin-bottom: 0.3%;
        position:relative;
        //overflow: hidden;
		zoom:1;
        .line21{
            width: 33.7%-0.5%;

            @include back_color;
            #line2-head1,#line2-head2,#line2-head3{
              padding: 0;
            }
            .line21-head li{
              height:100%;
              width: 33%;
              margin-left: 0.1%;
              margin-right: 0.1%;
              text-align: center;
              /*border-right: solid rgb(214,27,33);*/
              /*background-color: white;*/
            }
            #line2-head1,#line2-head2{
              border-right: solid rgb(214,27,33);

            }
            #line2-head1{
              left: 0;
            }
            #line2-head3{
              float: right;
              right: 0;
            }
            .line21-head a {
              height: 100%;
              width: 100%;
              color: rgb(217,17,11);
              margin: 0;
            }
            .tab-pane-content-2 img{
              margin-top: 5%;
              width: 100%;
            }
            #tabs1 a:hover {
              background-color: rgb(240,90,87);
              color: white;
            }
            .tab-pane-content-1 a{
              text-decoration: none;
            }
            .tab-pane-content-1 span{
              margin-left: 2%;
            }
            .tab-pane-content-1 li{
              margin: 0;
              padding: 0;
              text-decoration: none;
            }
        }
        .line22{
            width: 80%-34%;
            @include back_color;
        }
        .line23{
            width: 99.5%-80.3%;
            @include back_color;
            margin-left: 80.3% - 0.5% + 0.6%;
            height: 100% + 22%;
            margin-bottom: 3%;
            position:absolute;
            bottom:0px;
        }
}


@media only screen and (max-width: 480px){
            .line2{
                border: solid 1px red;
                /*min-height: 30%;*/
                height:29%;
                width: 100%;
                margin-top: 0.2%;
                margin-bottom: 0.2%;
                position: static;
                zoom:1;
                .line21, .line22, .line23{

                	position: static;
                    border: solid 1px blue;
                    float: left;
                    display: block;
                    width: 98%;
                    height: 33%;
                    margin-top: 0.5%;
                    margin-left:1%;
					//for line23
                    bottom:0px;
                }
            }

}
