.nav-justified {
    /*border: solid 1px red;*/
}

/*
.text-muted{
        border:solid 1px red;
        height: 10%;

        width: 90%;
        margin-left: 5%;
    }*/
.frame {
    overflow: hidden;
}

.wholehtml {
    background-image: url(images/red_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.bg {
    padding-top: 65px;
    height: 1080px;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    overflow: auto;
    min-height: 700px;
    min-width: 1700px;
    background-image: url(images/white.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.a {
    color: #000000;
    font-size: 0.7em;
}

.a2 {
    color: #FFFFFF;
    font-size: 1em;
}

.a3 {
    color: #F80000;
    font-size: 1em;
}

.disc {
    position: relative;
    list-style-type: disc;
    font-size: 12px;
}

/*.line20{
    float: left;
    height: 100%;
    width: 42%;
    overflow: hidden;
}*/

.line1 {
    position: relative;
    width: 100%;
    height: 19%;
    /*border: solid 1px red;*/
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.menubar {
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    padding-bottom: 0;
    background-color: red;

}

.active {
    background-color: white;
}

.line2 {
    position: relative;
    border: solid 1px red;
    height: 27%;
    /*min-height: 30%;*/
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.line2 > div {
    margin-right: 0.5%;
}

.line20 {
    position: relative;
    float: left;
    margin-left: 0.5%;
    border: solid 1px green;
    height: 100%;
    width: 39.5%;
}

.carousel-caption {
    position: absolute;
    bottom: 0.5%;
    padding-bottom: 3%;
}

.carousel-indicators {
    position: absolute;
    bottom: 0%;
    margin-bottom: 0%;
}

.line21 {
    position: relative;
    float: left;
    width: 45%;
    height: 100%;
    border: solid 1px red;
}

.line211 {
    position: relative;
    float: left;
    width: 33%;
    height: 50%;

}

.line211a {
    color: #F00;
    position: absolute;
    left: 5%;
    top: 15%;
    width: 100%;
    height: 10%;
}

.211
ah {
    position: relative;
    font-weight: bold;
    font-size: 20px;
}

.line211b {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 1%;
    background-color: #D2691E;
}

.line211c {
    position: absolute;
    left: 8%;
    bottom: 0;
    width: 100%;
    height: 60%;
}

.line212 {
    position: relative;
    float: left;
    width: 33%;
    height: 50%;
}

.line212a1 {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 70%;
    height: 30%;
}

.line212a2 {
    position: absolute;
    right: 0;
    top: 16%;
    width: 30%;
    height: 10%;
}

.line212b {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 1%;
    background-color: #D2691E;
}

.line212c {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
}

.line213 {
    position: relative;
    float: left;
    width: 33%;
    height: 50%;
}

.line213a1 {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 70%;
    height: 30%;
}

.line213a2 {
    position: absolute;
    right: 0;
    top: 16%;
    width: 30%;
    height: 10%;
}

.line213b {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 1%;
    background-color: #D2691E;
}

.line213c {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
}

.line214 {
    position: relative;
    float: left;
    width: 33%;
    height: 50%;
}

.line214a {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 70%;
}

.line215 {
    position: relative;
    float: left;
    width: 33%;
    height: 50%;
}

.line215a1 {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 70%;
    height: 30%;
}

.line215a2 {
    position: absolute;
    right: 0;
    top: 16%;
    width: 30%;
    height: 10%;
}

.line215b {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 1%;
    background-color: #D2691E;
}

.line215c {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
}

.line216 {
    position: relative;
    float: left;
    width: 33%;
    height: 50%;
}

.line216a1 {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 70%;
    height: 30%;
}

.line216a2 {
    position: absolute;
    right: 0;
    top: 16%;
    width: 30%;
    height: 10%;
}

.line216b {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 1%;
    background-color: #D2691E;
}

.line216c {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
}

.line22 {
    position: relative;
    float: left;
    width: 13%;
    height: 100%;
    border: solid 1px red;
}

.line221 {
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    border: solid 1px red;
    background-image: url(../images/2_2_calendar.png);
    background-position: center;
    background-repeat: no-repeat;
}

.line222 {
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    border: solid 1px red;
    background-image: url(../images/2_2_weibo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.col-md-4 {
    position: relative;
    height: 100%;
    border: solid 1px green;
}

.line3 {
    position: relative;
    border: solid 1px red;
    height: 21%;
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.line3 > div {
    margin-right: 0.5%;
}

.line31 {
    width: 39.5%;
    margin-left: 0.5%;
    padding-left: 0;
    padding-right: 0;
    /*background-image:url(images/3_1.png);
    background-position: center;
    background-repeat: no-repeat;*/
}

.line32 {
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
    border: solid 1px green;
}

.line32a1 {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 70%;
    height: 10%;
}

.line32a2 {
    position: absolute;
    right: 0;
    top: 10%;
    width: 10%;
    height: 10%;
}

.line32b {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: 1%;
    background-color: #D2691E;
}

.line32c1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 70%;
}

.line32c2 {
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 50%;
    height: 60%;
    background-image: url(../images/QQ图片20160416202835.png);
    background-position: center;
    background-repeat: no-repeat;
}

.line33 {
    position: relative;
    width: 28.5%;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
}

.line33a1 {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 70%;
    height: 10%;
    color: red;
}

.line33a2 {
    position: absolute;
    right: 1%;
    top: 10%;
    width: 10%;
    height: 10%;
}

.line33b {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: 1%;
    background-color: #D2691E;
}

.line4 {
    position: relative;
    border: solid 1px red;
    height: 15.1%;
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.line4 > div {
    margin-right: 0.5%;
}

.line41 {
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 28%;
    height: 100%;
    border: solid 1px red;
    background-position: center;
    background-repeat: no-repeat;
}

.line42 {
    position: relative;
    float: left;
    width: 26%;
    height: 100%;
    border: solid 1px red;
    background: url(../images/4_2.png);
    background-repeat: no-repeat;
    /*background-position:-875px -620px;*/
    background-size: contain;
}

.line42a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5%;
    background-color: #D2691E;
}

.line42b {
    color: #F00;
    position: absolute;
    left: 32%;
    right: 30%;
    top: 35%;
    bottom: 30%;
}

.line43 {
    position: relative;
    float: left;
    width: 26%;
    height: 100%;
    border: solid 1px red;
    background: url(../images/4_3.png);
    background-repeat: no-repeat;
    /*background-position:-875px -620px;*/
    background-size: contain;
}

.line43a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: #D2691E;
}

.line43b {
    color: #F00;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

}

.line44 {
    position: relative;
    float: left;
    width: 17.5%;
    height: 100%;
    border: solid 1px red;
    background: url(../images/4_4.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.line44a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: #D2691E;
}

.line44b {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 1%;
    background-color: #D2691E;
}

.line44c1 {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    height: 20%;
}

.line44c2 {
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    height: 20%;
}

.line44c3 {
    position: absolute;
    left: 0;
    top: 80%;
    width: 100%;
    height: 20%;
}

.foot {
    width: 100%;
    height: 14%;
    border: solid 1px red;
    background: url(../images/all_footer.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/*Leeeeo Liu's*/
.carousel-indicators li {
    border-color: #eea236;
}

.myCarousel-head {
    background: #eea236;
    height: 2%;
}

.carousel-inner {
    height: 100%;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
}

.carousel-caption{
    width: 100%;
    left: 0;
    height: 15%;
    background-color: rgb(244, 33, 39);
    opacity: 0.50;
    padding: 0;
}

.carousel-caption p {
    color: white;
    text-align: center;
    vertical-align: middle;
}

.tab-content {
    margin-top: 0px;
    /*height: 50%;*/
    /*background-size:35% 100%;*/

}

.tab-pane-content-1 {
    float: left;
    width: 15%;
    margin-top: 20px;
    margin-left: 10px;
}

.tab-pane-content-1 dt {
    line-height: 170%;
}

.tab-pane-content-2 {
    float: left;
    width: 35%;
    margin-top: 15px;
    vertical-align: middle;
}

.tab-pane-content-2 img {
    margin-top: 5%;
    vertical-align: middle;
}

.tab-pane-content-3 {
    float: right;
    width: 48%;
    /*margin-top: 10px;*/
    font-size: 1em;
    height: 100%;
    align-content: center;
}

.tab-pane-content-3 dt {
    line-height: 85%;
}

.tab-pane-content-3 span {
    float: right;
    /*margin-right: 5px;*/
}

#line3-head1 {
    width: 165px;
    background-color: rgb(241, 91, 88);
    border-radius: 0px;
}

#tabs1 li {
    font-size: 10px;
}

#line3-head2 {
    width: 165px;
    background-color: rgb(241, 91, 88);
    border-radius: 0px;
}

#line3-head3 {
    width: 165px;
    background-color: rgb(241, 91, 88);
    border-radius: 0px;
}

#line3-head4 {
    width: 165px;
    background-color: rgb(241, 91, 88);
    border-radius: 0px;
}

#tabs1 a {
    color: #FFFFFF;
    text-align: center;
}

.line3-container {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: 1%;
    background-color: rgb(243, 130, 70);
}

.tab-pane-content-1 a {
    color: rgb(242, 104, 101);
}

/*line33-By-LeeeeoLiu*/
.line33content {
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
}

.line33-container {
    margin: 0;
    padding: 0;
    background-color: rgb(254, 237, 232);
}

#line33-head1 {
    color: #FFFFFF;
    background-color: rgb(241, 91, 88);
    border-radius: 0;
    width: 119px;
}

#line33-head2 {
    color: #FFFFFF;
    background-color: rgb(241, 91, 88);
    border-radius: 0;
    width: 118px;
}

#line33-head3 {
    color: #FFFFFF;
    background-color: rgb(241, 91, 88);
    border-radius: 0;
    width: 118px;
}

#line33-head4 {
    color: #FFFFFF;
    background-color: rgb(241, 91, 88);
    border-radius: 0;
    width: 118px;
}

.col-md-4.line33.frame {
    margin: 0;
    padding: 0;
}

.tab-pane-content331 {
    padding: 0;
    background-color: rgb(254, 237, 232);
}

.tab-pane-content331 ul {
    margin-top: 4%;
    margin-bottom: 0;
    height: 100%;
    font-size: smaller;
}

.tab-content33 {
    background-color: rgb(254, 237, 232);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container {
    height: 80%;
    top: 10%;
    width: 95%;
}

.swiper-button-prev {
    max-height: 10px;
    position: relative;
    color: orangered;
}

.swiper-button-next {
    max-height: 10px;
    position: relative;
    color: orangered;
}

.line41.frame img {
    height: 100%;
}

.line41a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5%;
    background-color: rgb(241, 91, 88);
}